.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.masteredTechs, .discoveredTechs, .toBeDiscoveredTechs {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.masteredTechs, .discoveredTechs {
    height: 40%;
}

.toBeDiscoveredTechs {
    height: 20%;
}

.singleTech {
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    width: 31%;
}

