:root
{
  --height-top: 15%;
  --height-middle: 80%;
  --height-bottom: 5%;
  --color-hightlight: orange;
}

.App {
  text-align: center;
}

html, body, #root, .App{
  height: 100%;
}

body{background-color: yellow}

footer{
  /*border: 2px solid teal;*/
  background-color: gray;
  height: var(--height-bottom);
}

#resources-div{
  /*border: 2px solid teal;*/
  background-color: gray;
  height: var(--height-top);
}

#game-informations-div{
  /*border: 2px solid gray;*/
  background-color: lightgray;
  float: right;
  height: var(--height-middle);
  overflow: auto;
  width: 20%;
}

#game-text-div{
  /*border: 2px solid black;*/
  height: var(--height-middle);
  overflow: auto;
}

#tabs-div{
  /*border: 2px solid gray;*/
  background-color: lightgray;
  float: left;
  height: var(--height-middle);
  width: 20%;
}

#tabs-div button{
  width: 100%;
}
