:root
{
  --height-top: 15%;
  --height-middle: 78%;
  --height-bottom: 5%;
  --color-hightlight: orange;
}


@font-face{
  font-family: "FontFamilyChoosed";
  src: url(assets/font/Jura-Regular.otf) format("opentype");
}

.App {
  background-color: black;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: "FontFamilyChoosed", serif;
}

[title]{
  cursor: help;
}
[disabled]{
  cursor: not-allowed;
}

html, body, #root, .App{
  height: 100%;
}

button{
  font-family: "FontFamilyChoosed", serif;
  font-size: 1.5em;
}
button:hover{
  cursor: pointer;
}
button:hover[disabled]{
  cursor: not-allowed;
}

img{
  image-rendering: crisp-edges;
}

footer{
  background-color: gray;
  height: var(--height-bottom);
  width: 100%;
}

#resources-view-div{
  background-color: gray;
  height: var(--height-top);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game-informations-div{
  background-color: lightgray;
  height: var(--height-middle);
  overflow: auto;
  width: 20%;
}

#game-text-div{
  background-color: white;
  height: var(--height-middle);
  overflow: auto; /*scroll*/
  width: 58%;
}

#tabs-div{
  background-color: lightgray;
  height: var(--height-middle);
  overflow: auto;
  width: 20%;
}

#tabs-div button{
  width: 100%;
}


.border-image-of-region-discovered-checked{
  filter: brightness(0);
  width: 110%;
  top: -5%;
  left: -5%;
}

.hightlight{
  color: var(--color-hightlight);
}

.obstacle-crossed{
  background-color: #b7eab7;
}
