:root
{
  --background-color-dark: #272d44;
  --background-color-light: #3c5b6a;
}

@font-face{
  font-family: "FontFamilyChoosed";
  src: url(assets/font/Jura-Regular.otf) format("opentype");
}

.App {
  background-color: var(--background-color-dark);
  color: white;
  cursor: url(assets/images/cursor/auto.png), auto;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: "FontFamilyChoosed", serif;
}

[title]{
  cursor: url(assets/images/cursor/help.png), help;
}
[disabled]{
  cursor: url(assets/images/cursor/not-allowed.png), not-allowed;
  text-decoration: line-through;
}

html, body, #root, .App{
  height: 100%;
}

button{
  background-color: rgba(0, 0, 0, 0);
  border: 22px solid red;
  border-image: url(assets/images/borders/button.png) 22 / 22px;
  color: white;
  cursor: url(assets/images/cursor/pointer.png), pointer;
  font-family: "FontFamilyChoosed", serif;
  font-size: 1.5em;
}
button[disabled]{
  color: black;
  cursor: url(assets/images/cursor/not-allowed.png), not-allowed;
}

details{
  text-align: justify;
}

img{
  image-rendering: crisp-edges;
}

input{
  font-family: "FontFamilyChoosed", serif;
}

summary{
  background-color: #99e550;
  color: black;
  cursor: url(assets/images/cursor/pointer.png), pointer;
  font-size: 1.5em;
  text-align: center;
}


#game-informations-div{
  border-image: url(assets/images/borders/informations.png) 22 / 22px;
  padding-left: 22px;
  overflow: auto;
  height: 100%;
}

#game-text-div{
  overflow: auto; /*scroll*/
}

#options-div{
  background-color: rgba(0,0,0,0.5);
  border : 2px solid lightgray;
  border-radius: 40% 0%;
  cursor: url(assets/images/cursor/pointer.png), pointer;
  font-size: 1.5em;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

#report-div p{
  text-align: left;
}

#resources-view-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#resources-view-div table td{
  border: 2px solid lightgray;
  font-size: 2em;
}

#tabs-div{
  overflow: auto;
}

#tabs-div button{
  border-image: url(assets/images/borders/menu.png) 22 / 22px;
  width: 100%;
}


.border-image-of-region-discovered-checked{
  filter: brightness(0);
  width: 110%;
  top: -5%;
  left: -5%;
}

.interactable{
  cursor: url(assets/images/cursor/pointer.png), pointer;
}

.obstacle-crossed{
  background-color: #b7eab7;
}


@media only screen and (min--moz-device-pixel-ratio: 1.5) {/*smartphone*/
  body{
    font-size: 0.5em;
  }
}
