:root
{
  --height-top: 15%;
  --height-middle: 78%;
  --height-bottom: 5%;
}


@font-face{
  font-family: "FontFamilyChoosed";
  src: url(assets/font/Jura-Regular.otf) format("opentype");
}

.App {
  background-color: black;
  cursor: url(assets/images/cursor/auto.png), auto;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: "FontFamilyChoosed", serif;
}

[title]{
  cursor: url(assets/images/cursor/help.png), help;
}
[disabled]{
  cursor: url(assets/images/cursor/not-allowed.png), not-allowed;
}

html, body, #root, .App{
  height: 100%;
}

button{
  cursor: url(assets/images/cursor/pointer.png), pointer;
  font-family: "FontFamilyChoosed", serif;
  font-size: 1.5em;
}
button:hover[disabled]{
  cursor: url(assets/images/cursor/not-allowed.png), not-allowed;
}

details{
  text-align: justify;
}

img{
  image-rendering: crisp-edges;
}

input{
  font-family: "FontFamilyChoosed", serif;
}

footer{
  background-color: gray;
  height: var(--height-bottom);
  width: 100%;
}

summary{
  cursor: url(assets/images/cursor/pointer.png), pointer;
  text-align: center;
}

#resources-view-div{
  background-color: gray;
  height: var(--height-top);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#resources-view-div table td{
  border: 2px solid lightgray;
  font-size: 2em;
}

#game-informations-div{
  background-color: lightgray;
  height: var(--height-middle);
  overflow: auto;
  width: 20%;
}

#game-text-div{
  background-color: white;
  height: var(--height-middle);
  overflow: auto; /*scroll*/
  width: 58%;
}

#options-div{
  background-color: rgba(0,0,0,0.5);
  border : 2px solid lightgray;
  border-radius: 40% 0%;
  cursor: url(assets/images/cursor/pointer.png), pointer;
  font-size: 1.5em;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

#report-div p{
  text-align: left;
}

#tabs-div{
  background-color: lightgray;
  height: var(--height-middle);
  overflow: auto;
  width: 20%;
}

#tabs-div button{
  width: 100%;
}


.border-image-of-region-discovered-checked{
  filter: brightness(0);
  width: 110%;
  top: -5%;
  left: -5%;
}

.interactable{
  cursor: url(assets/images/cursor/pointer.png), pointer;
}

.obstacle-crossed{
  background-color: #b7eab7;
}


@media only screen and (min--moz-device-pixel-ratio: 1.5) {/*smartphone*/
  body{
    font-size: 0.5em;
  }
}
